<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Dashboard - Admin Bootstrap Template</title>
        <meta name="robots" content="noindex, nofollow">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <link rel="icon" th:href="@{/assets/img/favicon.png}"  />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header id="header" class="header fixed-top d-flex align-items-center" th:replace="fragments/header :: header">
        </header>
        <aside id="sidebar" class="sidebar" th:replace="fragments/sidebar :: sidebar">
        </aside>
        <main id="main" class="main">
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                        <li class="breadcrumb-item active">产品管理</li>
                    </ol>
                </nav>
            </div>
            <section class="section dashboard">
                <div class="container-xl">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2><b>编辑产品</b></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="/product" class="btn btn-success" ><i class="bi bi-arrow-left"></i></a>
                                    </div>
                                </div>
                            </div>

                            <form action="#" th:action="@{/product/save}" th:object="${product}" method="post">
                                <table border="0" cellpadding="10">
                                    <tr>
                                        <td>Product ID:</td>
                                        <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
                                    </tr>
                                    <tr>
                                        <td>Product Name:</td>
                                        <td><input type="text" th:field="*{name}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Brand:</td>
                                        <td><input type="text" th:field="*{brand}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Made in:</td>
                                        <td><input type="text" th:field="*{madein}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Price:</td>
                                        <td><input type="text" th:field="*{price}" /></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><button type="submit">Save</button></td>
                                    </tr>
                                </table>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer id="footer" class="footer" th:replace="fragments/footer :: footer">
            <div class="copyright"> &copy; Copyright <strong><span>Compnay Name</span></strong>. All Rights Reserved</div>
            <div class="credits"> with love <a href="https://freeetemplates.com/">FreeeTemplates</a></div>
        </footer>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}" ></script>

    </body>
</html>