<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Dashboard - Admin Bootstrap Template</title>
        <meta name="robots" content="noindex, nofollow">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <link href="/assets/img/favicon.png" rel="icon">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
        <link href="/assets/css/style.css" rel="stylesheet">

        <!--        <link href="/assets/tabulator/css/tabulator.min.css" rel="stylesheet">
                <script type="text/javascript" src="/assets/tabulator/js/tabulator.min.js"></script>-->

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/tabulator-tables/dist/css/tabulator.min.css}" />
        <script type="text/javascript" th:src="@{/webjars/tabulator-tables/dist/js/tabulator.min.js}"></script>
    </head>
    <body>
        <header id="header" class="header fixed-top d-flex align-items-center" th:replace="fragments/header :: header">
        </header>
        <aside id="sidebar" class="sidebar" th:replace="fragments/sidebar :: sidebar">
        </aside>
        <main id="main" class="main">
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                        <li class="breadcrumb-item active">用户审计</li>
                    </ol>
                </nav>
            </div>
            <section class="section dashboard">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <br/>
                                <br/>
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h2><b>用户审计</b></h2>
                                        </div>
                                    </div>
                                </div>
                                <table id="revision-table" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>用户ID</th>
                                            <th>用户账号</th>
                                            <th>密码</th>
                                            <th>启用</th>
                                            <th>账号未过期</th>
                                            <th>密码未过期</th>
                                            <th>账号未锁定</th>
                                            <th>E-mail</th>
                                            <th>姓名</th>
                                            <th>主页</th>
                                            <th>角色</th>
                                            <th>密码更改时间</th>
                                            <th>登录失败次数</th>
                                            <th>账号锁定时间</th>
                                            <th>REVID</th>
                                            <th>操作账号</th>
                                            <th>操作类型</th>
                                            <th>操作时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="userRevisionDTO : ${listUserRevisionDTOs}">
                                            <td th:text="${userRevisionDTO.user.id}">User ID</td>
                                            <td th:text="${userRevisionDTO.user.username}">User Name</td>
                                            <td th:text="${userRevisionDTO.user.password}">password</td>
                                            <td th:text="${userRevisionDTO.user.enabled}">enabled</td>
                                            <td th:text="${userRevisionDTO.user.accountNonExpired}">accountNonExpired</td>
                                            <td th:text="${userRevisionDTO.user.credentialsNonExpired}">credentialsNonExpired</td>
                                            <td th:text="${userRevisionDTO.user.accountNonLocked}">accountNonLocked</td>
                                            <td th:text="${userRevisionDTO.user.email}">E-mail</td>
                                            <td th:text="${userRevisionDTO.user.name}">Name</td>
                                            <td th:text="${userRevisionDTO.user.homepage}">Home Page</td>
                                            <td th:text="${userRevisionDTO.user.roles}">Roles</td>
                                            <td th:text="${#calendars.format(userRevisionDTO.user.passwordChangedTime,'yyyy-MM-dd HH:mm:ss.SSS')}">passwordChangedTime</td>
                                            <td th:text="${userRevisionDTO.user.failedAttempt}">failedAttempt</td>
                                            <td th:text="${userRevisionDTO.user.lockTime}">lockTime</td>
                                            <td th:text="${userRevisionDTO.userRevEntity.id}">REVID</td>
                                            <td th:text="${userRevisionDTO.userRevEntity.username}">操作账号</td>
                                            <td th:text="${userRevisionDTO.revisionType.name()}">操作类型</td>
                                            <td th:text="${#dates.format(userRevisionDTO.userRevEntity.revisionDate,'yyyy-MM-dd HH:mm:ss.SSS')}">操作时间</td>
                                        </tr>


                                    </tbody>
                                </table>

                                <script>
                                    var table = new Tabulator("#revision-table", {});
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer id="footer" class="footer" th:replace="fragments/footer :: footer">
            <div class="copyright"> &copy; Copyright <strong><span>Compnay Name</span></strong>. All Rights Reserved</div>
            <div class="credits"> with love <a href="https://freeetemplates.com/">FreeeTemplates</a></div>
        </footer>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>